.btn-cta {
    padding: 0 6%;
    margin: 10px;
    height: 50px;
    border-radius: 55px;
    border: none;

    background-size: 100%;
    background-image: linear-gradient(to left top, $color-primary, $color-secondary);
    cursor: pointer;
    position: relative;
    z-index: 100;

    &:after {
        background-image: linear-gradient(to left top, red, $color-secondary);
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        z-index: -100;
        transition: opacity 0.4s;
        -webkit-text-fill-color: transparent;
    }

    &:hover {
        &:after {
            opacity: 1;
        }
    }

    span {
        color: white;
        font-size: 18px
    }

}