.btn-cta {
    padding: 0 6%;
    margin: 10px;
    height: 50px;
    border-radius: 55px;
    border: none;

    background-size: 100%;
    background-image: linear-gradient(to left top, $color-primary, $color-secondary);
    cursor: pointer;
    position: relative;
    z-index: 100;
    @include shadow();
    transition: box-shadow ease-in-out 0.3s;

    &:hover {

        background-image: linear-gradient(to left top, lighten($color-primary, 10%), $color-secondary);
        @include shadow($y: 7px, $blur: 10px, $opacity: 20%);

        &:after {
            opacity: 1;
        }
    }

    span {
        color: white;
        font-size: 18px
    }

}