.etape {
    @include flex($justify: start, $gap: 5%);
    border-radius: 20px;
    background-color: $bg-section;
    position: relative;
    width: 100%;

    &__numero {
        @include flex();
        background-color: $color-primary;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: white;
        position: absolute;
        transform: translateX(-50%);
        z-index: 2;
    }

    &__content {
        @include flex($justify: start, $gap: 5%);
        // background-color: $bg-section;
        // border-radius: 20px;
        margin-left: 20px;
        padding-left: 10%;
        width: 95%;
        height: 70px;
        font-size: 110%;
        font-weight: bold;
        // box-shadow: 3px 5px 15px darken($bg-section, 10%);
    }

    span {
        white-space: nowrap;
    }
}

.etape:hover {


    i {
        color: $color-primary;
    }

}