html {
    box-sizing: border-box;
    font-family: $font-text;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: auto;

}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}