.location {
    @include flex ($gap: 15px);
    height: 50px;
    background-color: $bg-location;
    margin: 0;
}

.presentation {
    @include flex ($direction: column, $gap: 25px);
    height: 287px;
    background-color: $bg-section;
    text-align: center;

    h2 {
        padding: 0 15%;
        font-weight: 900;
        margin: 0
    }

    h3 {
        font-weight: lighter;
        margin: 0;
    }
}

.fonctionnement {
    margin: 55px 20px;

    .etapes {
        @include flex($direction: column, $align: start, $gap: 22px);
    }
}

.restaurants {
    @include flex ($direction: column, $align: center, $gap: 25px);
    background-color: $bg-section;
    padding: 55px 20px;

    h2 {
        width: 100%;
    }
}