.loading-spinner {
    height: 300px;
    @include flex();
    animation: displayLoader 3s;
    opacity: 0;
    animation-fill-mode: forwards;

    @keyframes displayLoader {
        0% {
            opacity: 0;
        }

        80% {
            opacity: 100%;
        }

        99% {
            margin-top: 0px;
        }

        100% {
            opacity: 0;
            margin-top: -300px;
        }
    }

    i {
        font-size: 50px;
        animation: loading 1s ease-in-out infinite;
        color: $color-primary;

        margin-top: 300px;

        @keyframes loading {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }


    }

}

.home-content {
    opacity: 0;
    animation: 2s displayHome;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    @keyframes displayHome {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 100%;
        }
    }
}

.location {
    @include flex ($gap: 15px);
    height: 50px;
    background-color: $bg-location;
    margin: 0;
}

.presentation {
    @include flex ($direction: column, $gap: 25px);
    height: 287px;
    background-color: $bg-section;
    text-align: center;

    h2 {
        padding: 0 15%;
        font-weight: 900;
        margin: 0
    }

    h3 {
        font-weight: lighter;
        margin: 0;
    }
}

.fonctionnement {
    margin: 55px 20px;

    .etapes {
        @include flex($direction: column, $align: start, $gap: 22px);
    }

    @include desktop {
        margin: 55px 30%;

        h2 {
            text-align: center;
            margin: 40px;
        }
    }
}

.restaurants {
    @include flex ($direction: column, $align: center, $gap: 25px);
    background-color: $bg-section;
    padding: 55px 5%;

    h2 {
        width: 100%;
    }

    a {
        width: 100%;
    }

    @include desktop {

        h2 {
            text-align: center;
            margin: 40px;
        }

    }
}