.menu-hero {
    height: 260px;
    background-image: url("../../public/images/restaurants/restaurant1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.menu-content {
    @include flex ($direction: column, $align: center);
    background-color: $bg-section;
    border-radius: 30px 30px 0 0;
    margin-top: -50px;
    padding: 15px 20px;

    .content-heading {
        @include flex ($gap: 5%);

        h1 {
            font-family: $font-heading;
        }

        @include tablette {
            width: 100%;
        }
    }

    .content-section {
        margin: 10px 0;

        &__title {
            @include flex ($direction: column, $align: start);
            margin: 20px 0;

            h3 {
                text-transform: uppercase;
                font-weight: lighter;
                margin: 5px 0;
            }

            hr {
                width: 40px;
                border: 2px solid $color-tertiary;
                margin: 0;
            }

            @include tablette {
                align-items: center;
            }
        }

        &__plats {
            @include flex ($direction: column, $align: none, $gap: 15px);
            width: 95%;
        }

        @for $j from 0 through 3 {
            &__plats:nth-child(#{$j}) {
                @for $i from 0 through 3 {
                    .plat:nth-child(#{$i}) {
                        @include fadeinAnimation(($i + (3+$j)) * 0.3s);
                    }
                }
            }
        }

        .plat {
            @include flex ($justify: space-between, $align: end);
            background-color: $bg-default;
            border-radius: 15px;
            opacity: 0;
            overflow: hidden;

            height: 80px;

            &__texte {
                @include flex ($direction: column, $align: start);
                width: 85%;
                transition: width ease-in-out 0.4s;
                padding: 10px;

                h3 {
                    margin: 0;
                    font-weight: bold;
                }

                span {
                    margin: 0;
                    font-weight: lighter;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                }
            }

            &__prix {
                font-weight: bold;
            }

            &__check {
                background-color: $color-tertiary;
                height: 100%;
                width: 0%;
                align-self: center;
                transition: width ease-in-out 0.4s;


                i {
                    color: white;
                    font-size: 25px;
                    transform: rotate(0);
                    transition: transform 1s;
                }
            }


        }

        .plat:hover {
            .plat__texte {
                width: 65%;
            }

            .plat__check {
                width: 10%;
                opacity: 1;

                i {
                    transform: rotate(360deg);
                }
            }
        }

        @include tablette {
            width: 80%;
        }
    }



    button {
        width: 50%;
        margin: 50px 0
    }
}