@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin shadow($x: 5px, $y: 5px, $blur: 5px, $opacity: 10%) {
    box-shadow: $x $y $blur darken($bg-default, $opacity);
}
