$font-heading: 'Shrikhand';
$font-text: 'Roboto';

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$bg-default: #FFFFFF;
$bg-location: #eaeaea;
$bg-section: #f6f6f6;
$bg-footer: #353535;