footer {
    background-color: $bg-footer;
    padding: 5% 10%;

    img {
        margin: 10px 0;
    }

    .links {
        @include flex($direction: column, $align: start, $gap: 8px);

        link {
            @include flex($gap: 3px);
            color: white;


        }

        .fa-solid {
            color: white;
        }

        i {
            width: 20px;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    @include tablette {
        @include flex($direction: column, $align: center);

        .links {
            @include flex($direction: column, $align: center, $gap: 8px);
        }
    }
}