header {
    @include flex ($justify: center);
    padding: auto 30px;
    height: 62px;
    background-color: $bg-default;
    position: relative;
    z-index: 10;
    @include shadow($x: 3px, $y: 5px, $opacity: 20%);


    .fa-arrow-left {
        font-size: 20px;
    }

    a {
        margin-left: 5%;
    }

    img {
        width: 161px;
        margin: auto;

    }
}