header {
    @include flex ($justify: center);
    padding: auto 30px;
    height: 62px;
    background-color: $bg-default;
    box-shadow: 0 3px 5px darken($bg-default, 20%);
    position: relative;
    z-index: 10;

    .fa-arrow-left {
        font-size: 20px;
    }

    a {
        margin-left: 5%;
    }

    img {
        width: 161px;
        margin: auto;

    }
}